/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.milk_text {
  padding-top: 30px;
}

.column {
  display: inline-block;
  padding: 6px;
  width: 33%;
  overflow: auto;
}

#row_1 {
  overflow: auto;
}

.column:first-of-type {
  width: 66%;
  float: left;
}

.column:nth-of-type(3) {
  width: 33%;
  float: right;
}